$primaryFontColor: #fff;
$secondaryFontColor: #252b42;
$tertiaryFontColor: #737373;
$additionalFontColor: #bdbdbd;
$accentElementColor: #2091f9;
$greenPaletteColor: #2dc071;
$brownPaletteColor: #e77c40;
$primaryBorderColor: #e4e4e4;
$secondaryBorderColor: #dcdcdc;
$ratingBgColor: #f3cd03;
$additionalBgColor: #f9f9f9;
$hoverBgColor: #e8e8e8;
$darkBgColor: #000;
