$breakpoints: (
  xxl: 1422px,
  xl: 1300px,
  lg: 1150px,
  md: 1025px,
  sm: 870px,
  xs: 550px
) !default;

@mixin wall {
  @media (max-width: map-get($breakpoints, xxl)) {
    @content;
  }
}

@mixin tv {
  @media (max-width: map-get($breakpoints, xl)) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: map-get($breakpoints, lg)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin folder {
  @media (max-width: map-get($breakpoints, sm)) {
    @content;
  }
}

@mixin phone {
  @media (max-width: map-get($breakpoints, xs)) {
    @content;
  }
}
